.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(112, 4, 4, 0.2);
  margin-top: 90px;
}

h1 {
  text-align: center;
}
form {
  margin: 0 auto;
  box-shadow: 0px 0px 13px rgba(11, 2, 2, 0.3);
  padding: 20px;
}

form .btn {
  color: #fff;
  font-weight: bold;
  width: 100%;
  background-color: #0841d0;
}

form .btn:hover {
  color: #fff;
  background-color: #04a0a5;
}